@media (max-width: 575.98px) { 
    .middleSection{
        margin: 0;
    }
    .topBannerOverlay{
        position: absolute;
        min-height: 300px;
        width: 100%;
        background: rgba(0, 0,0,0.6);
    }
    .SearchBarEdit{
        width:70%;
        height:1.5rem;
    }
    .topTitle{
        font-size: 25px;
    }
    .topSubTitle{
        text-decoration: none;
        color: #9c9c9c !important;
        font-size: 15px;
        font-weight: 700;
    }
    .TopFixedBanner{

        min-height: 300px;
        min-width: 100%;
    }
    .topContain{
        margin-top: 8rem;
    }
    .signInFont{
        font-size: 10px;
    }

    /* top Nav */
   
    .topNavIcon{
        height: 25px;
        width: 25px;
    }
    .topNavScroll{
        font-size: 17px;
    }
    .navbar-dark .navbar-toggler {
        height: 25px;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .navbar-toggler {
        line-height: 0;
        
    }
    .topNav{
        font-size: 17px;
    }
    
    /* Latest Post */
    .topIcon {
        height:87%;
        width: 87%;
    }
    h7{
        font-size: 10px;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .middleSection{
        margin: 0;
    }
    /* top Bannar */
    .TopFixedBanner{
        min-height: 400px;
        min-width: 100%;
    }
    .topBannerOverlay{
        min-height: 400px;
        width: 100%;
    }
    .SearchBarEdit{
        width:70%;
        color:#ffffff;
        background:rgba(100, 100, 100, 0.5) ;
        border:none;
        height:2rem;
    }
    .topTitle{
        font-size: 32px;
    }
    .topSubTitle{
        font-size: 20px;
    }
    .topContain{
        margin-top: 9rem;
    }
    .signInFont{
        font-size: 18px;
    }
    /* top Nav */
   
    .topNavIcon{
        height: 35px;
        width: 35px;
    }
    .navbar-dark .navbar-toggler {
        height: 35px;
    }
    .navbar-toggler-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    .topNav{
        font-size: 20px;
    }
    /* Latest Post */
    .topIcon {
        height:89%;
        width: 89%;
    }
    
    
    
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .middleSection{
        margin: 0;
    }
    /* top Bannar */
    .TopFixedBanner{
        min-height: 450px;
        min-width: 100%;
    }
    .topBannerOverlay{
        min-height: 450px;
        width: 100%;
    }
    .SearchBarEdit{
        width:70%;
        height:2.5rem;
    }
    .topTitle{
        font-size: 35px;
    }
    .topSubTitle{
        font-size: 22px;
    }
    
    .signInFont{
        font-size: 22px;
    }
    /* top Nav */
   
    .topNavIcon{
        height: 35px;
        width: 35px;
    }
    .navbar-dark .navbar-toggler {
        height: 35px;
    }
    .navbar-toggler-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    .topNav{
        font-size: 20px;
    }
    .topNavScroll{
        font-size: 20px;
    }
    /* Latest Post */
    
    .topIcon {
        height:100%;
        width: 100%;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .topTitle{
        font-size: 35px;
    }
    .topSubTitle{
        font-size: 22px;
    }
    .SearchBarEdit{
        width:70%;
        height:2.5rem;
    }
    .topNavIcon{
        height: 35px;
        width: 35px;
    }
    .topNav{
        font-size: 20px;
    }
    /* Latest Post */
    .topIcon {
        height:100%;
        width: 100%;
    }
 }


@media (min-width: 1200px) {
    
}